.header {
    background-color: #79835c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 64px;
  
    &__logo {
      height: 50px;
      cursor: pointer;
    }
  
    &__right {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  
    .user_icon, .cart_icon, .logout-icon {
      font-size: 24px;
      color: white;
      cursor: pointer;
    }
  
    .logout {
      display: flex;
      align-items: center;
    }
  
    .current-balance p {
      color: white;
      margin: 0;
    }
    // navbar 
    .header__navbar {
      .navbar__list {
        display: flex;
        list-style: none;
        gap: 32px;
        margin: 0;
        padding: 0;

        .navbar__item {
          color: #FFD700; // màu chữ vàng nhạt
          cursor: pointer;
          font-size: 16px;
          position: relative;
          transition: color 0.3s ease;

          &:hover {
            color: white;
          }
        }
        .navbar__item.active {
          color: white;
        }
  }
      }
    }
  
    // responsive
  
  